@charset "UTF-8";

body{
    background-color: rgb(196, 196, 196);
    margin-top: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}


/* CRIANDO O HEADER FIXO*/

.fixed-header, .fixed-footer{
    width: 100%;
    position: fixed;        
    background: #333;
    padding: 10px 0;
    text-align: center;
}

.fixed-header{
    top:0;
    left: 0;
    display:block;
}

nav a{
    color: #fff;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
    
}
.servico{
    text-decoration: underline;
    color: orange;
}

.sair{
    color: red;
}



/*CONFIGURANDO O BOZ QUE APARECE DO LADO ESQUERDO DA TELA*/
.conta_info{
    position: absolute;
    display: inline-block;
    
    width: 10%;

    margin-left: 1%;
    
    /*margin-bottom: 5%;*/

    background-color: #f0f0f0;
    border-radius: 10px;

    padding: 1%; 

}

.conta_info p{
    text-align: center;
    margin-top:0;
    margin-bottom: 0;
}

.conta_info label{
    margin-top: 5%;
}

.conta_info button{
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;
    background-color: rgb(173, 173, 173);
}

.botoes_escolha{
    margin-top: 5%;
}

.buttonMatricula{
    background-color:rgb(84, 108, 216);
    padding: 0;
}
/* CONFIGURANDO O FORMULARIO*/

.formulario{ 
    display: inline-block;   
    position:inherit;

    width: 50%;
    

    background-color: #f0f0f0;
    text-align: center;

    border-radius: 15px;
    
    margin-top: 0;
    margin-left: 25%;
    padding-bottom: 3%;

    

}

.formulario input{
    width: 90%;
}

#form1{
    display: inline-block;
    margin-right: 5%;
    margin-left: 5%;
}

#form2{
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
    
}

.botao_Cancela {
    width:30%;
    margin-top: 5%;
    margin-right:5%;
    margin-left:0;

    font-size: 90%;

    background-color: darkgray;

}
.botao_Proximo{
    width:30%;
    margin-left:7%;
    margin-top: 5%;

    font-size: 90%;

    background-color: darkgray;
}



@media (max-width: 800px){

    .fixed-header, .fixed-header{}

    .conta_info{        

    }

    body{
        background-color: rgb(196, 196, 196);
    }

    .formulario{ 
        display: inherit;
        background-color: #f0f0f0;
        position: absolute;
        width: 100%;
        height: 100%;
        left: -25%;
    
    }
}

@media (max-width: 650px){

    .formulario{ 
        display: inherit;
        background-color: #f0f0f0;
        position: absolute;
        width: 100%;
        height: 110%;
        left: -25%;
        border-radius: 0;
        top: 13%;
    
    }
    .botao_Cancela {
        width: 40%;
        margin-left: 7%;
        margin-top: 5%;
        font-size: 70;
        display: block;
        margin-left: 30%;
    
    }
    .botao_Proximo{
        width: 40%;
        margin-left: 7%;
        margin-top: 5%;
        font-size: 70;
        display: block;
        margin-left: 30%;
        
    }

    .conta_info{
        display: none;
    }
}

