<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="templates/style//matricula.css">
    <title>Matrícula</title>
</head>

<body>

    <header>
        <p>Menu</p>
    </header>

    <main>
        <div class="container">

            <div class="conta_info">
                <label>
                    Nome do administrador <br>
                    Número de usuário
                </label>
            </div>

            <div class="esquerda_sup">
                <label>
                    <button class="btn_escolha_situacao">Matrícula </button> <br>
                    <button class="btn_escolha_situacao">Rematrícula </button> <br>
                    <button class="btn_escolha_situacao">Trancar matrícula </button><br>
                </label>
            </div>

            <div class="formulario">
                <h1>Matricula</h1>
                <label>Nome</label> <br>
                <input type="text" name="nome"> <br>
            
                <label>Sobrenome</label> <br>
                <input type="text" name="sobrenome"> <br>
            
                <label>Idade</label> <br>
                <input type="text" name="idade" id="idade"> <br>
            
                <label>Nacionalidade</label> <br>
                <input type="text" name="nacionalidade"> <br>

                <label>CPF</label> <br>
                <input type="text" name="cpf"> <br>
            
                <label>RG</label> <br>
                <input type="text" name="rg"> <br>

                <label>Endereço</label> <br>
                <input type="text" name="endereco"> <br>
            
                <label>Número</label> <br>
                <input type="text" name="numero"> <br>

                <label>Cidade</label> <br>
                <input type="text" name="cidade"> <br>
            
                <label>Estado</label> <br>
                <input type="text" name="estado"> <br>

                <label>Escolaridade</label> <br>
                <input type="text" name="escolaridade"> <br>

                <label>Curso escolhido</label> <br>
                <input type="text" name="curso_escolhido"> <br>
            
                <label>Período</label> <br>
                <input type="text" name="periodo"> <br>
            
                <label>Turma</label> <br>
                <input type="text" name="turma"> <br>

                <button class="botao">CANCELAR</button> <button class="botao">PRÓXIMO</button>
            </div>
        </div>
        <a href="?logout">Fazer Logout</a>
    </main>
    <footer>

    </footer>
</body>
</html>