<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="templates/style/matricula.css">    
    <title>Matrícula</title>
</head>

<script>
    function Alerta_Enviado(){
        alert("Cadastro feito com sucesso!")
    }

    

</script>

<body>

    <header>
        <div class="fixed-header">
            <div class="container">
                <nav>
                    <a href="#">Home</a>
                    <a href="#">Sobre</a>
                    <a class='servico' href="#">Serviços</a>
                    <a href="#">Contatos</a>
                    <a class='sair' href="?logout">Sair</a><br>
                </nav>
            </div>
        </div>       
    </header>

    <main>
        <div class="conta_info">
            <label>
                <p>Nome do administrador</p>
                <p>Número de usuário</p>              
            </label>
            <div class='botoes_escolha'>
                <label >
                    <button class="buttonMatricula" name='cria_matricula' type="submit">Matrícula </button> 
                </label>
                <label>
                    <button class="buttonRematricula" name='rematricula' type="submit">Rematrícula </button>
                </label>
                <label>
                    <button class="buttonTranca" name='tranca_matricula' type="submit">Trancar matrícula </button><br><br>
                </label>
            </div>
                
        </div>


        <div class='formulario'>                
            <form id='allForm'>  
                <h1>Matricula</h1>                  
                <div id='form1'>
                    <label>Nome</label> <br>
                    <input type="text" name="nome" id ='nome'> <br>
                
                    <label>Sobrenome</label> <br>
                    <input type="text" name="sobrenome"> <br>
                
                    <label>Idade</label> <br>
                    <input type="text" name="idade" id="idade"> <br>
                
                    <label>Nacionalidade</label> <br>
                    <input type="text" name="nacionalidade"> <br>

                    <label>CPF</label> <br>
                    <input type="text" name="cpf"> <br>
                
                    <label>RG</label> <br>
                    <input type="text" name="rg"> <br>

                    <label>Escolaridade</label> <br>
                    <input type="text" name="escolaridade"> <br>
                </div>
                <div id='form2'>
                    <label>Endereço</label> <br>
                    <input type="text" name="endereco"> <br><!---->

                    <label>Número</label> <br>                    
                    <input type="text" name="numero"> <br>

                    <label>Cidade</label> <br>
                    <input type="text" name="cidade"> <br>
                
                    <label>Estado</label> <br>
                    <input type="text" name="estado"> <br>

                    

                    <label>Curso escolhido</label> <br>
                    <input type="text" name="curso_escolhido"> <br>
                
                    <label>Período</label> <br>
                    <input type="text" name="periodo"> <br>
                
                    <label>Turma</label> <br>
                    <input type="text" name="turma"> <br><!---->
                </div>
            
                <div>
                    <button class="botao_Cancela" type="reset" value="Reset form">CANCELAR</button> 
                    <button class="botao_Proximo" onclick="Alerta_Enviado()">MATRICULAR</button>
                </div>
            </form>
        </div>


        
    </main>
    <footer>

    </footer>
</body>
</html>