<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="estilos/matricula-2.css">
    <title>Matrícula</title>
</head>
<body>
    <header>
        <div class="img"><img src="img/fatec.png" alt=""></div>
    </header>
    <main>
        <div class="container">
            <div class="esquerda_sup">
                <label>
                    Nome do administrador <br>
                    Número de usuário
                </label>
            </div>
            <div class="esquerda_inf">
                <label>
                    Matrícula <br>
                    Rematrícula <br>
                    Trancar matrícula
                </label>
            </div>
            <div class="direita_externa">
                <button id="por_semestre">Por semestre</button> <button id="manual">Manual</button>
            </div>
            <div class="direita">
                <div id="cima_checkbox">
                    <label>Cursar</label> <label id="aproveitamento">Aproveitamento <br>    de conteúdo</label>
                </div>
                <div id="semestres">
                    <div class="semestres">1° Semestre</div>
                    <div class="semestres">2° Semestre</div>
                    <div class="semestres">3° Semestre</div>
                    <div class="semestres">4° Semestre</div>
                    <div class="semestres">5° Semestre</div>
                    <div class="semestres">6° Semestre</div>
                </div>
                <div id="check_box_area">
                    <label>Disciplina</label>
                    <input type="checkbox"> <input type="checkbox"> <br>
                    <label>Disciplina</label>
                    <input type="checkbox"> <input type="checkbox"> <br>
                    <label>Disciplina</label>
                    <input type="checkbox"> <input type="checkbox"> <br>
                    <label>Disciplina</label>
                    <input type="checkbox"> <input type="checkbox"> <br>
                    <label>Disciplina</label>
                    <input type="checkbox"> <input type="checkbox"> <br>
                    <label>Disciplina</label>
                    <input type="checkbox"> <input type="checkbox"> <br>
                </div>
                <button>CANCELAR</button> <button>CONTINUAR</button>
            </div>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>