@charset "UTF-8";

body {
    margin: 0px;
    background-color: blue;
}

/*MAIN*/
.main {
    background-color: gray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.login {
    background-color: #0D192F;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius: 10px;
    color: white;
    height: 400px;
}

.login > input {
    background-color: #C4C4C4;
    text-align: center;
    margin: 10px;
    width: 250px;
    border-radius: 15px;
    padding: 10px;
}

input::placeholder {
    color: black;
}


.button {
    text-align: center;
    width: 275px;
    margin: 10px;
    border-radius: 15px;
    padding: 10px;
}

.img {
    text-align: center;
}