@charset "UTF-8";

body {
    background-color: rgba(17, 17, 182, 0.767);
    margin: 0px;
}

/*HEADER*/
img {
    margin: 10px;
    width: 50px;
    height: 50px;
    text-align: left;
}

/*MAIN*/
.container {
    margin: 0px;
    position: relative;
    width: 99.9 ;
    height: 88vh;
    padding-top: 10px;
}

.esquerda_sup {
    background-color: white;
    position: absolute;
    width: 200px;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
}

.esquerda_inf {
    background-color: white;
    position: absolute;
    top: 10%;
    width: 200px;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
}

.direita_externa {
    position: absolute;
    top: 20%;
    left: 49%;
    background-color: #111536;
    width: 650px;
    height: 460px;
    border-radius: 10px;
}

.direita_externa > button#por_semestre {
    background-color: #C4C4C4;
    border-radius: 10px;
    border: none;
    position: relative;
    top: 4%;
    left: 3%;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
}

.direita_externa > button#manual {
    background-color: #C4C4C4;
    position: relative;
    margin-left: 20px;
    border-radius: 10px;
    border: none;
    top: 4%;
    left: 3%;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
}

.direita {
    position: absolute;
    background-color: #225C5A;
    top: 30%;
    left: 49%;
    width: 630px;
    height: 375px;
    border-radius: 5px;
    margin: 10px;
}

.direita > button {
    position: relative;
    height: 25px;
    margin: 10px 110px;
    border-radius: 10px;
    box-shadow: none;
    border: none;
    bottom: 40%;
}

#cima_checkbox {
    position: relative;
    text-align: right;
    padding-right: 20px;
    height: 50px;
    width: fit-content;
    float: right;
    right: 40px;
    top: 5%;
}

#cima_checkbox > label {
    margin: 20px;
    font-weight: bold;
    color: white;
}

#semestres {
    width: fit-content;
    position: relative;
    top: 20%;
    left: 3%;
    font-weight: bold;
    color: white;
    font-size: 20px;
}

.semestres {
    line-height: 40px;
}

#check_box_area {
    position: relative;
    background-color: #c4c4c4;
    top: -44%;
    left: 20%;
    width: 490px;
    border-radius: 10px;
}

#check_box_area > input {
    position: relative;
    float: right;
    margin-top: 15px;
    margin-right: 100px;
}

#check_box_area > label {
    position: relative;
    line-height: 40px;
    font-weight: bold;
    margin-left: 10px;
    font-size: 20px;
}
